doctype 5
html
  head
    title KenzieGram
    block scripts
    base(href="/")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='./sass/materialize.css')
    link(rel='stylesheet', type='text/css', href='./style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')

  body
    nav(style='height: 6em')
      .nav-wrapper.deep-purple.darken-2
        h1.center.brand-logo(style='font-size: 4em;') KenzieGram