form.center(method='post', action='/public/uploads', enctype='multipart/form-data')
  div
    label(for='file') Choose a file
    input#file(type='file', name='myFile')
  div
    button#submit.btn.deep-purple(type='submit')  Upload New Picture
