img {
  max-height: 40vh;
  padding-bottom: 1.5em;
}
nav {
  margin-bottom: 1.5em;
}
.title {
  position: relative;
}
li {
  text-decoration: none;
}
#padOut {
  display: flex;
  flex-direction: column-reverse;
}
